#jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portas {
    display: flex;
    align-self: stretch;
    justify-content: stretch; /*espaçado igualmente entre as portas*/
    flex-wrap: wrap;
}

.portas > h1 {
    width: 100%;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botoes button {
    background-color: #c0392c;
    color: #fff;
    font-size: 2rem;
    border: none;
    padding: 10px 25px;
}